  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');
body{
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
#submit{
    margin-top: 20px;
    width: 20%;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(219, 247, 219);
}
h2{
    color:rgb(124, 32, 200);
}
header{
    font-size: 40px;
    font-weight: bold;
    color: rgb(107, 8, 194) ;
}
